<launch>
    
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />
    
    
  <arg name="grid_map_path"  default="$(find room_and_pillar_circuit)/grid_map/map_merged_scans.yaml"/>
  
  <rosparam command="load" file="$(find ks_launchers)/config/ks_global_parameters_core.yaml"/>
  <rosparam command="load" file="$(find ks_launchers)/config/ks_global_parameters_core_machine.yaml"/>
  <rosparam command="load" file="$(find ks_launchers)/config/ks_global_parameters_real.yaml"/>
  


  <include file="$(find ks_launchers)/launch/common/modeling/_3d_laser_processing.launch"/>
  <include file="$(find ks_launchers)/launch/common/utils/_robot_description.launch"/> 
  <include file="$(find ks_launchers)/launch/common/utils/_robot_state_publisher.launch"/> 
  <include file="$(find ks_launchers)/launch/real/laser/_laser_ouster_replay.launch"/> 

<!-- 
    <node name="amcl_map_server" pkg="map_server"  type="map_server"   args="$(arg grid_map_path)" respawn="false" output="screen">
      <remap from="map" to="/map"/>
    </node> -->

  

  
  <include file="$(find ks_launchers)/launch/common/lowlevel/_can_parser.launch"/>
  
 


  

    <node pkg="tf" type="static_transform_publisher" name="map_tomap_init"  args="-106.26 38.334 1.8 1.5707963 -0.000521738897577071 -0.030813641502203  map    map_init 10" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_tomap_init"  args="7.9706 18.567 1.8 -0.02689002239014767  0.07614523674362413  0.01857134784866702 0.996561054153833 map    map_init 10" /> -->
    <node pkg="tf" type="static_transform_publisher" name="laser_init_to_map"  args="0 0 0.0 0   0       0  map_init    laser_init 10" />


    <!--- LeGO-LOAM -->    

 <group ns="MODELING/3D_LASER_PROCESSING">

    <node pkg="lego_loam" type="featureAssociation" name="featureAssociation" output="screen"/>
    <node pkg="lego_loam" type="mapOptmization"     name="mapOptmization"     output="screen"/>
    <node pkg="lego_loam" type="transformFusion"    name="transformFusion"    output="screen">
    
      <rosparam>
        broadcast_tf: true
      </rosparam>
    </node>

  </group>

</launch>
